torch==2.4.0
torchvision==2.4.0
torchaudio==2.4.0
huggingface_hub[cli]
accelerate
appdirs
loralib
bitsandbytes
black
datasets
fire
peft
transformers
sentencepiece
py7zr
scipy
optimum
matplotlib
gradio
wandb
vllm
